@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&display=swap');

/* Шапка сайта */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 155px 24px 150px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13.5px;
}
.menu { /* Бургер меню */
    display: none;
}
.logo { /* Контейнер логтипа */
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}
.logo img { /* Иконка логотипа */
    width: 55px;
}
nav { /* Меню */
    text-align: center;
}
.header-ul { /* Список меню */
    display: flex;
    justify-content: center;
    gap: 55px;
    padding-left: 60px;
}
.header-icon { /* Контейнер иконок справа */
    display: flex;
    gap: 15px;
}
.header-icon img { /* Иконки */
    width: auto;
    height: 16.5px;
}
#searchIcon { /* Иконка лупы */
    padding-left: 60px;
}


/* Секция под шапкой */
.tea-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/images/Rectangle\ 75.png) no-repeat center left / cover;
    padding: 190px 310px 35px 0px;
}
.tea-field:after { /* Фильтр для изображения на фоне */
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to top, #000000 15%, #ffffff00, #ffffff00);
	opacity: 0.8;
}
.text-field { /* Контейнер с текстом */
    display: flex;
    flex-direction: column;
    width: 592px;
    row-gap: 14px;
    z-index: 1;
}
#par-in-tea-field { /* Параграф */ 
    width: 418px;
    color: white;

    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22.5px;
}


/* Секция с коллекцией чая */
.tea-collections {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#par-in-tea-collections { /* Цитата вверху секции */
    padding: 0 350px;
    text-align: center;
    margin-top: 112px;

    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
}
#title-explore { /* Заголовок под цитатой */
    width: 300px;
    margin: 110px 0 0 30px;
}
.type-of-tea { /* Контейнер с видами чая */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    column-gap: 30px;
    margin-top: 47px;

    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.img-type-of-tea { /* Изображения видов чая */
    width: 156px;
}


/* Секция What our Clients say */
.clients-feadback { /* Весь контейнер */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 113px;
    padding: 45px 0;
    background-color: #f7f2ea;
}
#title-what { /* Заголовок секции */
    padding: 0 0 45px 7px;
}
.all-comments { /* Контейнер с комментариями */
    display: flex;
    column-gap: 20px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
}
.each-comment { /* Каждый комментарий */
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 16.5px;
}
#author { /* Автор каждого комментария */
    letter-spacing: -0.2px;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
}


/* Секция чайного блога */
.tea-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 40px 0 0;
    gap: 45px;
}
.all-blog { /* Контейнер с блогами */
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 42px;
    padding: 0 150px;
}
.each-blog { /* Настройки каждого блога */
    display: flex;
    width: 406.5px;
}
.image-blog { /* Изображение блога */
    width: 202.5px;
}
.description { /* Весь текст справа от изображения блога */    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15.5px;
    position: relative;
}
.description p{ /* Указание автора блога */
    position: absolute;
    top: 75px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 9.75px;
}
.link { /* Ссылка-переход на блог (read) */
    text-decoration: none;
    color: #000000;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 9.75px;
}
.link::after { /* Стрелочка */
    display: inline-block;
    content: '';
    width: 3px;
    height: 8px;
    background: url(/images/read.svg) 100% / cover no-repeat;
    margin-left: 6px;
    transition: all 0.2s ease-in 0s;
}
.blog-button { /* Кнопка в конце секции */
    display: flex;
    flex: 1;
    border: 1px solid #151618;
    background-color: white;
    padding: 9px 30px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 15px;
}


/* Секция Want to know more? */
.more-info { /* Весь контейнер */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 113px;
    padding: 75px 0;
    column-gap: 30px;
    background: url(/images/tea\ 1.png) no-repeat right;
    background-color: #F7F2EA;
}
.left-box { /* Левая часть секции */
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
#par-in-left-box { /* Текст в левой части секции */
    width: 435px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
}
.right-box { /* Правая часть секции */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.inputbox { /* Контейнер поля ввода и кнопки */
    display: flex;
    flex-direction: row;
}
#email { /* Поле ввода почты */
    width: 330px;
    height: 22.5px;
    padding-left: 7px;
    margin: 15px 15px 0 0;
    color: #B8B58B;
    border: none;
    outline: none;
    border-bottom: 1px solid #B8B58B;
    background: transparent;
}
#email::placeholder { /* placeholder в поле ввода почты */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 15px;
    color: #B8B58B;
}
#input-button { /* Кнопка Join */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    border: 1px solid #151618;
    background-color: white;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 15px;
}
.agreement { /* Контейнер с чекбоксом и текстом */
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
#par-in-right-box { /* Текст */
    width: 425px;
    padding: 0 0 2px 5px;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 9.75px;
}
#checkbox { /* Чекбокс */
    width: 7.5px;
    height: 7.5px;
    margin-top: 2px;
}


/* Секция с приоритетами */
.priority { /* Весь контейнер */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 140px;
}
#title-priority {
    padding: 115px 0 45px 0;
}
.four-priority { /* Контейнер для всех приоритетов */
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    padding-bottom: 115px;
    column-gap: 35px;
}
.each-priority { /* Каждый приоритет */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 7px;
}
#par-in-priority { /* Текст под заголовком */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.2px;
}
.image-priority { /* Иконка приоритета */
    width: 45px;
    padding-top: 20px;
}


/* Футер */
footer {
    display: grid;
    grid-template-columns: 225px 225px 243px 54px 153px; /* футер, не считая отступов - 900px */
    grid-template-rows: 25% 20% 15% 35% 5%;
    position: relative;
    background-color: #F7F2EA;
    padding: 75px 0 15px 0;
    justify-content: center;
}
.footer-ul { /* Два списка слева */
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 35px;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 12px;
}
.products { /* Первый список */
    grid-column: 1;
    grid-row: 1 / span 4;
    padding-bottom: 130px;
}
.company { /* Второй список */
    grid-column: 2;
    grid-row: 1 / span 4;
    padding-left: 7px;
}
#copyright { /* Значок копирайта */
    grid-column: 1;
    grid-row: 5;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 12px;
}
.pay-icon { /* Значки платёжных систем */
    grid-column: 2;
    grid-row: 5;
    width: 117px;
    height: 22px;
    
    margin-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pay-icon img:nth-of-type(1) {
    width: 19.5px;
    height: auto;
}
.pay-icon img:nth-of-type(2) {
    width: 23.35px;
    height: auto;
}
.pay-icon img:nth-of-type(3) {
    width: 21.75px;
    height: auto;
}
.pay-icon img:nth-of-type(4) {
    width: 7.5px;
    height: auto;
}
.quote-author { /* Цитата + автор */
    grid-column: 3;
    grid-row: 1 / span 3;
    padding: 60px 0 0 15px;
    
    width: 201.75px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
    line-height: 1.4;
}
.quote-author p:last-child { /* Автор цитаты */
    width: 96.75px;
    padding-top: 15px;
    font-style: normal;
    font-size: 9px;
}
#stay-in-touch { /* Третий заголовок */
    grid-column: 4 / span 2;
    grid-row: 1;
    padding-left: 5px;
}
#par-in-footer { /* Параграф под заголовком */
    grid-column: 4 / span 2;
    grid-row: 1;
    width: 230px;
    padding: 60px 0 0 5px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 9.75px;
}
#footer-logo { /* Логотип */
    grid-column: 4;
    grid-row: 2;
    width: 42.75px;
    margin: 12.5px 0 0 5px;
}
.number-mail { /* Контейнер номера и телефона (в макете значки перепутаны) */
    grid-column: 5;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    padding: 25px 0 0 25px;
    gap: 15px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 9.75px;
}
.number-mail img { /* Иконки номера и телефона */
    width: 16.5px;
    height: auto;
    margin-right: 7px;
}
.social-icons { /* Контейнер с соц.сетями */
    grid-column: 5;
    grid-row: 3;
    width: 115px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0 0 25px;
}
.social-icons img { /* Иконки соц.сетей */
    width: 16.5px;
}
.social-icons img:nth-of-type(2) { /* Значок ютуба чуть больше */
    width: 18px;
}