/* Ограничение всех блоков по ширине */
@media (max-width: 480px) {
    header,
    .tea-field,
    .tea-collections,
    .clients-feadback,
    .tea-blog,
    .more-info,
    .priority,
    footer {
        max-width: 480px;
    }
}

/* Медиа для шапки сайта (телефон)*/
@media (max-width: 480px) {
    header {
        height: 75px;
        padding: 0 10px 0 0;
    }
    .burger-menu {
        padding-left: 10px;
    }
    .logoImage {
        width: 39px;
        top: 10px;
        left: 220px;
    }
}

/* Медиа для секции под шапкой (телефон)*/
@media (max-width: 480px) {
    .tea-field {
        padding: 275px 0 45px 10px;
    }
    #title-tea-field {
        width: 450px;
        font-size: 40px;
        line-height: 50px;
    }
    #par-in-tea-field {
        width: 450px;
    }
}

/* Медиа для секции с коллекцией чая (телефон) */
@media (max-width: 480px) {
    #par-in-tea-collections { /* Цитата вверху секции */
        width: 376px;
        font-family: "Open sans", serif;
        font-size: 16px;
        margin-top: 60px;
    }
    #title-explore { /* Заголовок под цитатой */
        margin: 60px 0 0 5px;
    }
    .type-of-tea { /* Контейнер с видами чая */
        width: 416px;
        margin-top: 35px;
        margin-bottom: 65px;
    }
}

/* Медиа для секции What our Clients say (телефон) */
@media (max-width: 480px) {
    .clients-feadback { /* Весь контейнер */
        height: 588px;
        padding: 50px 0 0 0;
        row-gap: 45px;
    }
    .all-comments {
        width: 480px;
        padding: 5px 10px 0 10px;
    }
    .each-comment {
        width: 220px;
    }
}

/* Медиа для секции чайного блога (телефон)*/
@media (max-width: 480px) {
    .tea-blog {
        padding-top: 60px;
    }
    .each-blog {
        width: 460px;
        margin-left: 10px;
    }
    .each-blog:nth-child(2),
    .each-blog:nth-child(4) {
        margin-left: 10px;
    }
    .image-blog {
        width: 230px;
    }
}

/* Медиа для секции Want to know more? (телефон)*/
@media (max-width: 480px) {
    .more-info { /* Весь контейнер */
        height: 415px;
        margin-top: 55px;
        background-image: none;
    }
    .left-box {
        padding-top: 40px;
    }
    #par-in-left-box { /* Текст в левой части секции */
        width: 460px;
        font-size: 13px;
        padding-top: 25px;
    }
    .right-box { /* Правая часть секции */
        width: 460px;
        margin-bottom: 100px;
    }
    #email { /* Поле ввода почты */
        width: 324px;
    }
    #label-in-email { /* placeholder в поле ввода почты */
        left: 15px;
    }
    #input-button { /* Кнопка Join */
        padding: 15px 40px;
        margin: 20px 0 0 5px;
        font-size: 20px;
    }
    
}

/* Медиа для секции с приоритетами (телефон) */
@media (max-width: 480px) {
    .priority {
        height: 926px;
        margin: 0px 0 120px 0;
    }
    #title-priority {
        padding: 60px 0 35px 0;
    }
    .four-priority {
        width: 300px;
        flex-direction: column;
        row-gap: 50px;
    }
}

/* Медиа для футера (телефон)*/
@media (max-width: 480px) {
    footer {
        grid-template-columns: 230px 230px;
        grid-template-rows: 43vh 16vh 11vh 16vh 4vh;
        padding-top: 55px;
    }
    .footer-ul {
        padding-top: 30px;
    }
    .products {
        grid-row: 1;
        padding-bottom: 0;
    }
    .company {
        grid-row: 1;
        padding-left: 0;
    }
    .quote-author {
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 460px;
        margin: 0;
    }
    .quote-author p:last-child {
        width: 298px;
        padding-top: 10px;
    }
    #stay-in-touch {
        grid-column: 1 / span 2;
        grid-row: 3;
        padding: 0px 0 0px 165px;
    }
    #par-in-footer {
        grid-column: 1 / span 2;
        width: 460px;
        margin: 0;
        padding-top: 45px;
        text-align: center;
    }
    #footer-logo {
        grid-column: 1;
        margin: 5px 0 0 20px;
    }
    .number-mail {
        grid-column: 1 / span 2;
        margin: 20px 0 0 105px;
        width: 150px;
    }
    .social-icons {
        grid-column: 2;
        margin: 35px 0 0 40px;
    }
    #copyright {
        grid-column: 1;
        grid-row: 5;
    }
    .pay-icon {
        grid-column: 2;
        grid-row: 5;
        margin-left: 40px;
    }
}