/* Медиа для шапки сайта */
@media (max-width: 768px) {
    header {
        height: 165px;
        padding: 0 65px 5px 55px;
        position: relative;
    }
    .burger-menu {
        display: flex;
        width: 40px;
        padding: 0 0 0 65px;
    }
    .logoImage {
        width: 73px;
        height: auto;
        position: absolute;
        top: 30px;
        left: 347px;
    }
    nav {
        display: none;
    }
    .header-icon {
        gap: 20px;
    }
    .header-icon img {
        height: 22px;
    }
    #searchIcon {
        padding-left: 30px;
    }
}

/* Бургер меню */
@media (max-width: 768px) {
    .menu {
        display: block;
    }
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    .burger {
        position: relative;
        z-index: 3;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }
    .burger::before,
    .burger::after {
        content: '';
        left: 10px;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
    }
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    .burger-checkbox:checked + .burger::before {
        left: 370px;
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger::after {
        left: 370px;
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    .menu-list {
        width: 360px;
        height: 691px;

        position: absolute;
        top: 0;
        left: 60px;
        padding: 45px 0 0 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #FFFFFF;
        transform: translateX(-200%);
        transition: .3s;
        z-index: 2;
    }
    .header-menu-1 {
        padding-bottom: 50px;
        border-bottom: 1px solid #B8B58B;

        font-family: "Cormorant", serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
    }
    .header-menu-2 {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: lighter;
        font-style: normal;
        font-size: 13px;
    }
    .menu-item {
        display: block;
        padding: 15px;
        color: black;
        text-align: center;
        text-decoration: none;
    }
    .burger-icon {
        width: 360px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: #F7F2EA;
    }
    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }
    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
    }
}

/* Медиа для секции под шапкой */
@media (max-width: 768px) {
    .tea-field {
        padding: 255px 0 45px 20px;
        gap: 20px;
    }
    #title-tea-field {
        width: 684px;
        font-size: 60px;
        line-height: 60px;
    }
    #par-in-tea-field {
        width: 557.65px;
        line-height: 30px;
        font-size: 24px;
    }
}

/* Медиа для секции с коллекцией чая */
@media (max-width: 768px) {
    h2 {
        font-weight: normal;
        font-style: normal;
        font-size: 40px;
    }
    #par-in-tea-collections { /* Цитата вверху секции */
        margin-top: 120px;
        width: 640px;
        font-weight: lighter;
        font-size: 40px;
    }
    #title-explore { /* Заголовок под цитатой */
        width: 369px;
        margin: 135px 0 0 95px;
    }
    .type-of-tea { /* Контейнер с видами чая */
        justify-content: center;
        flex-wrap: wrap;
        width: 636px;
        margin-top: 42px;
        margin-bottom: 120px;
        font-size: 24px;
    }
    .img-type-of-tea { /* Изображения видов чая */
        width: 208px;
    }
}

/* Медиа для секции What our Clients say */
@media (max-width: 768px) {
    .clients-feadback { /* Весь контейнер */
        height: 596px;
        justify-content: flex-start;
        padding: 60px 0 0 5px;
        margin-top: 0;
        row-gap: 65px;
    }
    .all-comments {
        width: 640px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        font-size: 16px;
    }
    .each-comment {
        width: 280px;
        padding-bottom: 35px; 
        line-height: 22px;
    }
    #author {
        font-size: 20px;
    }
}

/* Медиа для секции чайного блога */
@media (max-width: 768px) {
    #title-blog {
        padding: 120px 5px 0 0;
    }
    .all-blog { 
        padding: 60px 0 0 0;
    }
    .each-blog {
        width: 542px;
        margin-left: 65px;
    }
    .each-blog:nth-child(2),
    .each-blog:nth-child(4) {
        margin-left: 160px;
    }
    .image-blog {
        width: 270px;
    }
    .description {
        width: 252px;
        margin-left: 20px;
    }
    .description h3 {
        font-size: 24px;
    }
    .description p {
        top: 100px;
    }
    .description p,
    .link {
        font-size: 13px;
    }
    .blog-button {
        width: 149px;
        height: 51px;
        padding: 15px 40px;
        margin: 60px 0 0 310px;
        font-size: 20px;
    }
}

/* Медиа для секции Want to know more? */
@media (max-width: 768px) {
    .more-info { /* Весь контейнер */
        height: 525px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .left-box {
        padding-top: 10px;
    }
    #par-in-left-box { /* Текст в левой части секции */
        width: 640px;
        font-size: 20px;
        padding-top: 65px;
    }
    .right-box { /* Правая часть секции */
        width: 580px;
        margin-bottom: 45px;
    }
    #email { /* Поле ввода почты */
        width: 439px;
    }
    #par-in-right-box {
        width: 560px;
        font-size: 13px;
        text-align: left;
        padding-left: 20px;
    }
    #label-in-email { /* placeholder в поле ввода почты */
        top: 40px;
        left: -70px;
        font-size: 20px;
    }
    #input-button { /* Кнопка Join */
        width: 116px;
        height: 51px;

        padding: 15px 40px;
        margin: 20px 0 0 10px;
    }
    #checkbox { /* Чекбокс */
        width: 10px;
        height: 10px;
        top: 86px;
        left: 0px;
    }
}

/* Медиа для секции с приоритетами */
@media (max-width: 768px) {
    .priority {
        height: 489px;
        margin: 20px 0 230px 0;
    }
    #title-priority {
        font-size: 40px;
        padding-bottom: 60px;
    }
    .four-priority {
        width: 638px;
        flex-wrap: wrap;
        padding: 0;
        column-gap: 80px;
        row-gap: 30px;
    }
    .each-priority {
        height: 178px;
    }
    .each-priority h4 {
        font-size: 30px;
    }
    #par-in-priority {
        font-size: 20px;
    }
    .image-priority {
        width: 60px;
    }
}

/* Медиа для футера */
@media (max-width: 768px) {
    footer {
        height: 630px;
        grid-template-columns: 192px 192px 384px;
        grid-template-rows: 120px 130px 150px 150px 80px;
    }
    .title-in-footer {
        grid-column: 1 / span 2;
        align-items: center;
        justify-content: space-between;
        padding: 7px 80px 0 65px;
    }
    .title-in-footer h5 {
        font-weight: normal;
        font-size: 24px;
    } 
    .title-in-footer h5:nth-of-type(1),
    .title-in-footer h5:nth-of-type(2) {
        transform: translateX(0px);

    }
    .title-in-footer h5:nth-of-type(3) {
        position: absolute;
        bottom: 335px;
        right: 205px;
    }
    .footer-ul {
        row-gap: 20px;
        padding: 10px 0 0 21px;
        font-size: 16px;
    }
    .products {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        padding-left: 43px;
    }
    .company {
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;
    }
    #copyright {
        padding: 50px 0 0 65px;
        font-size: 16px;
    }
    .pay-icon {
        width: 156px;
        margin: 40px 0px 0 25px;
    }
    .pay-icon img:nth-of-type(1) {
        width: 26px;
    }
    .pay-icon img:nth-of-type(2) {
        width: 31px;
    }
    .pay-icon img:nth-of-type(3) {
        width: 29px;
    }
    .pay-icon img:nth-of-type(4) {
        width: 10px;
    }
    .quote-author {
        grid-row: 1 / span 2;
        margin: 30px 20px 10px 50px;
        width: 269px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 16px;
    }
    .quote-author p:last-child {
        width: 129px;
        padding-top: 0px;
        font-size: 12px;
    }
    #par-in-footer {
        grid-column: 3;
        grid-row: 3;
    
        width: 275px;
        margin: 90px 0 0 50px;
        padding: 0;
    
        font-size: 13px;
    }
    #footer-logo {
        position: absolute;
        width: 57px;
        right: 275px;
        bottom: 140px;
    }
    .number-mail {
        grid-column: 3;
        grid-row: 4;
        height: 60px;
        margin: 15px 0 25px 150px;
        padding: 0;
        font-size: 13px;
    }
    .number-mail img {
        width: 22px;
    } 
    .social-icons {
        grid-column: 3;
        width: 150px;
        height: 22px;
        margin: 110px 0 0px 150px;
    }
    .social-icons img {
        width: 22px;
    }
    .social-icons img:nth-of-type(2) {
        width: 24px;
    }
}